.upload {
    width: 509px;
    height: 87px;
}

.header {
    margin-left: 7px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #A6A6A6;
}